body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.what-we-do {
    padding: 20px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.service {
    width: 30%;
    padding: 10px;
}

.icon {
    font-size: 50px; /* Adjust size as needed */
    color: #FF6565; /* Change to your desired color */
    display: block;
    margin-bottom: 10px;
}
.our-results {
    padding: 20px;
    text-align: center;
}

.results {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.result {
    width: 30%;
    padding: 10px;
}
.contact-us {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #FF6565; /* Change as needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9; /* Animation effect */
}
